{
  "extends": ["eslint:recommended"],
  "env": {
    "browser": false,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 9
  },
  "rules": {
    "no-console": "off"
  }
}
